target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
*.css
!petclinic.css
