# Default ignored files for being user-specifc
/shelf/
/dictionaries/
/workspace.xml
/tasks.xml
/usage.statistics.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Maven/Gradle libraries
/libraries/
